body {
  background-color: yellow;
}

p {
  text-align: center;
  font-size: 32px;  
}
/* 
p:nth-child(even) {
  background-color: blue;
}
p:nth-child(odd) {
  background-color: green;
} */
/* p:nth-child(2) + p {
  background-color: green;
} */
/* p:nth-child(2) ~ p {
  background-color: green;
} */
p:nth-last-of-type(2) {
  background-color: blue;
}